<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software developer (Contract role)</h3>
                            <div class="time">Oct 2017 - Feb 2019</div>
                        </div><!--//upper-row-->
                        <div class="company">Landed Experts Technologies</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> Part of a 5-person development team creating a Blockchain secure ticketing system for 
                            <a href="https://eventchain.io" target="_blank">https://eventchain.io </a>. Work daily with React, ES6, and HTML/CSS to
                        create reusable UI components and perform frontend to backend integrations. </p>
                    </div><!--//details-->
                </div><!--//item-->   
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Application Developer Intern</h3>
                            <div class="time">Feb 2017 - May 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Goopter Holdings Ltd, Burnaby</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Goopter Holdings is a mobile e-commerce platform that provides small businesses with their own customizable website to conduct transactions. Was assigned to the backend development team  and developed RESTful JSON API using PHP. Worked  with a wide array of technologies/frameworks including: Firebase, RabbitMQ, Redis, MySQL, MongoDB, AJAX. </p>
                    </div><!--//details-->
                </div><!--//item-->                
            </section><!--//section-->