<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Application Developer Intern</h3>
                            <div class="time">Feb 2017 - May 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Goopter Holdings Ltd, Burnaby</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Goopter Holdings is a mobile e-commerce platform that provides small businesses with their own customizable website to conduct transactions. Was assigned to the backend development team  and developed RESTful JSON API using PHP. Worked  with a wide array of technologies/frameworks including: Firebase, RabbitMQ, Redis, MySQL, MongoDB, AJAX </p>
                    </div><!--//details-->
                </div><!--//item-->                
            </section><!--//section-->