<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Here are some of the applications I've worked on over the years. Includes hackathon, individual and academic projects:</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="http://tamakiroulette.herokuapp.com/#/" target="_blank">Tamaki Roulette</a></span> - 
                    <span class="project-tagline">MEAN stack application that returns a random choice from the user’s list. Created in a team of 5 and was our submission for nwHacks 2016 </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://globalgamejam.org/2016/games/afterlife-spooky-manor" target="_blank">Afterlife</a></span> - <span class="project-tagline">Mobile game where player avoids ghosts for as long as possible,scripts were written in C# and created with  the Unity game engine. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://1.food-on-wheels.appspot.com/" target="_blank">Food On Wheels</a></span> - <span class="project-tagline">Web application that located food carts in Vancouver. </span>
                </div><!--//item-->
            </section><!--//section-->